.titulo-moda{
    background-color: #BB86FC;
    color: white;
}

.titulo-casa{
    background-color: #00C4B4;
    color: white;
}

.fundo-tabela{
    background-color: #424250;
    color: white;
    
}